<div class="row product-details" *ngIf="productData">

    <div class="col-sm-6">
            <img src="{{productData.img}}" class="product-img" alt="">
    </div>

    <div class="col-sm-6">
        <div class="details">
                <h1>{{productData.name}}</h1>
                <h3>Price : {{productData.price}}</h3>
                <div>
                    Category : {{productData.category}}
                </div>
                <h6><p>Description : {{productData.desc}}</p></h6>
                <button  class="form-button" *ngIf="!removeCart"  (click)="addToCart()" >Add to Cart</button>
                <button  class="form-button" *ngIf="removeCart" (click)="removeToCart(productData.id)" >Remove to Cart</button>

                <button class="form-button">Buy Now</button>
                <div class="quantity-group">

                    <button (click)="minus()">-</button>
                    <input type="text" name="" readonly [(ngModel)]="productQty" id="">
                    <button (click)="plus()">+</button>

                </div>
        </div>
    </div>


</div>