<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row">
        <div class="col-sm-2">
            <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>


    <div class="row order-data" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img src="https://www.xfurbish.com/image/cache/wkseller/647/Dell%20Optiplex%203060%20MT%20(Mini%20Tower)%20-Core%20i3%208th%20Gen/31kp2+Iyb1L._AC_-400x400.webp" class="order-img"  alt="">
        </div>
        <div class="col-sm-2">
            <span>{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Process</span>
        </div>
        <div class="col-sm-2">
            <span><button class="form-button" (click)="cancelOrder(order.id)" >Cancel Order</button></span>
        </div>
    </div>


   
</div>